* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $main;
  font-family: "Inter", serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  object-fit: cover;
}

.container {
  width: 970px;
  margin: 0 auto;   
}
